# Ignore nix result folder, sometimes I called it install
result
install
# Ignore target (build) folder
target/

# Ignore intermediate/obj directory types
obj
aux
# Ignore bin/target directory types
bin
